@page "/newuser"
@rendermode InteractiveServer

<div id="new-user-page">
	<h1 id="page-title">@_title</h1>

	@if (_formNotDone)
	{
		<div id="form-container">
			<EditForm Model="_user" OnValidSubmit="AddUser">
				<DataAnnotationsValidator />
				<div id="first-name-container" class="form-input">
					<label for="first-name" id="first-name-label">First Name</label>
					<InputText id="first-name" @bind-Value="_user.FirstName"/>
					<ValidationMessage For="() => _user.FirstName" />
				</div>

				<div id="last-name-container" class="form-input">
					<label for="last-name" id="last-name-label">Last Name</label>
					<InputText id="last-name" @bind-Value="_user.LastName"/>
					<ValidationMessage For="() => _user.LastName"/>
				</div>

				<div id="email-container" class="form-input">
					<label for="email" id="email-label">Email</label>
					<InputText id="email" @bind-Value="_user.Email"/>
					<ValidationMessage  For="() => _user.Email"/>
				</div>

				<div id="age-container" class="form-input">
					<label for="age" id="phonelabel">Age</label>
					<InputNumber id="age" @bind-Value="_user.Age" />
					<ValidationMessage For="() => _user.Age" />
				</div>

				<button type="submit" id="form-btn">Submit</button>
			</EditForm>
		</div>
	}
	else
	{
		<div id="form-result-container">
			<p class="result">First Name: @_user.FirstName</p>
			<p class="result">Last Name: @_user.LastName</p>
			<p class="result">Email: @_user.Email</p>
			<p class="result">Age: @_user.Age</p>
			<button id="new-user-btn" @onclick="AddNewUser">New User</button>
		</div>
	}
</div>