@page "/newuser"
@rendermode InteractiveServer

<div id="new-user-page">
	<h1 id="page-title">@_title</h1>

	@if (_formNotDone)
	{
		<div id="form-container">
			<EditForm Model="_user" OnValidSubmit="AddUser">
				<DataAnnotationsValidator />
				<div id="id-container" class="form-input">
					<label for="id" id="id-label">ID</label>
					<InputNumber id="id" @bind-Value="_user.Id"/>
					<ValidationMessage For="() => _user.Id" />
				</div>

				<div id="name-container" class="form-input">
					<label for="name" id="name-label">Name</label>
					<InputText id="name" @bind-Value="_user.Name"/>
					<ValidationMessage For="() => _user.Name" />
				</div>
				
				<div id="email-container" class="form-input">
					<label for="email" id="email-label">Email</label>
					<InputText id="email" @bind-Value="_user.Email"/>
					<ValidationMessage  For="() => _user.Email"/>
				</div>

				<div id="address-container">

					<div id="street-container" class="form-input">
						<label for="street" id="street-label">Street</label>
						<InputText id="street" @bind-Value="_user.Address.Street"/>
						<ValidationMessage For="() => _user.Address.Street"/>
					</div>
				
					<div id="city-container" class="form-input">
						<label for="city" id="city-label">City</label>
						<InputText id="city" @bind-Value="_user.Address.City"/>
						<ValidationMessage For="() => _user.Address.City"/>
					</div>
					
					<div id="zipcode-container" class="form-input">
						<label for="zipcode" id="zipcode-label">Zipcode</label>
						<InputText id="zipcode" @bind-Value="_user.Address.Zipcode"/>
						<ValidationMessage For="() => _user.Address.Zipcode"/>
					</div>

				</div>

				<div id="company-container">
					<div id="company-name-container" class="form-input">
						<label for="company-name" id="company-name-label">Company Name</label>
						<InputText id="company-name" @bind-Value="_user.Company.Name" />
						<ValidationMessage For="() => _user.Company.Name" />
					</div>

					<div id="company-catchphrase-container" class="form-input">
						<label for="company-catchphrase" id="company-catchphrase-label">Company Catchphrase</label>
						<InputText id="company-catchphrase" @bind-Value="_user.Company.Catchphrase" />
						<ValidationMessage For="() => _user.Company.Catchphrase" />
					</div>
				</div>

				<button type="submit" id="form-btn">Submit</button>
			</EditForm>
		</div>
	}
	else
	{
		<div id="form-result-container">
			<p class="result">ID: @_user.Id</p>
			<p class="result">Name: @_user.Name</p>
			<p class="result">Email: @_user.Email</p>
			<p class="result">Street: @_user.Address.Street</p>
			<p class="result">City: @_user.Address.City</p>
			<p class="result">Zipcode: @_user.Address.Zipcode</p>
			<p class="result">Company Name: @_user.Company.Name</p>
			<p class="result">Company Catchprase: @_user.Company.Catchphrase</p>


			<button id="new-user-btn" @onclick="AddNewUser">New User</button>
		</div>
	}
</div>