@page "/newuser"
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@rendermode InteractiveServer

<div id="new-user-page">
	<h1 id="page-title">@title</h1>

	@if (formNotDone)
	{
		<div id="form-container">
			<EditForm Model="user" OnValidSubmit="AddUser">
				<DataAnnotationsValidator />
				<div id="first-name-container" class="form-input">
					<label for="first-name" id="first-name-label">First Name</label>
					<InputText id="first-name" @bind-Value="user.FirstName"/>
					<ValidationMessage For="() => user.FirstName" />
				</div>

				<div id="last-name-container" class="form-input">
					<label for="last-name" id="last-name-label">Last Name</label>
					<InputText id="last-name" @bind-Value="user.LastName"/>
				</div>

				<div id="email-container" class="form-input">
					<label for="email" id="email-label">Email</label>
					<InputText id="email" @bind-Value="user.Email"/>
				</div>

				<div id="age-container" class="form-input">
					<label for="age" id="phonelabel">Age</label>
					<InputNumber id="age" @bind-Value="user.Age" />
					<ValidationMessage For="() => user.Age" />
				</div>

				<button type="submit" id="form-btn">Submit</button>
			</EditForm>
		</div>
	}
	else
	{
		<div id="form-result-container">
			<p class="result">First Name: @user.FirstName</p>
			<p class="result">Last Name: @user.LastName</p>
			<p class="result">Email: @user.Email</p>
			<p class="result">Age: @user.Age</p>
			<button id="new-user-btn" @onclick="AddNewUser">New User</button>
		</div>
	}
</div>

@code {
	private User user = new User();

	string title = "Add a new user";
	bool formNotDone = true;

	public class User
	{
		[Required]
		public string? FirstName { get; set; }
		[Required]
		public string? LastName { get; set; }
		[Required]
		public string? Email { get; set; }
		[Range(18, 65)]
		public int Age { get; set; }

	}

	public void AddUser()
	{
		formNotDone = false;
		title = "Form submitted!";
	}

	public void AddNewUser()
	{
		formNotDone = true;
		title = "Add a new user";
		user.FirstName = "";
		user.LastName = "";
		user.Email = "";
		user.Age = 0;
	}
}

<style>

	#new-user-btn {
		justify-self: center;
		width: 130px;
		height: 40px;
		border: none;
		border-radius: 20px;
		background: purple;
		color: white;
		font-weight: bold;
		margin-top: 20px;
	}

	#new-user-btn:hover {
			width: 135px;
			height: 42px;
	}

	.result {
		font-size: 22px;
	}
	#form-result-container {
		display: flex;
		flex-direction: column;
		align-items:center;
		margin-top: 50px;
	}

	#new-user-page {
		display: grid;
		grid-template-rows: 1fr 5fr;
	}

	#page-title {
		justify-self: center;
		font-family: 'Times New Roman', Times, serif;
		font-weight: bold;
		font-size: 62px;
		justify-self: center;
		align-self: center;
	}

	#form-container {
		display: flex;
		justify-content: center;

	}
	.form-input{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.form-input {
		margin: 20px;
	}

	#form-btn {
		justify-self: center;
		margin-left: 65px;
		width: 120px;
		height: 40px;
		border: none;
		border-radius: 20px;
		background: limegreen;
		color: white;
		font-weight: bold;
	}

	#form-btn:hover {
		width: 125px;
		height: 41px;
	}

	label {
		font-size: 18px;
		font-weight: bold;
	}
</style>
