@page "/users"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<div id="users-page">
	@if (_dataChooser == 0)
	{
		<h1>Choose Users</h1>
		<div id="choose-container">
			<button id="api-users-btn" class="choose-btn" @onclick="ShowApiUsers">Show Api Users</button>
			<button id="my-users-btn" class="choose-btn" @onclick="ShowMyUsers">Show Dummy Users</button>
		</div>
	}
	else
	{
		<h1>Users</h1>
		<div id="table-container">
			@if (_users == null || !_users.Any())
			{
				<p>Loading...</p>
			}
			else
			{
				<div class="buttons-search-container">
					<div class="buttons-container">
						<button id="amount-btn" class="sorting-btn" @onclick="ShowAmount">@_amountBtn</button>
						<button id="name-sort-btn" class="sorting-btn" @onclick="NameSort">@_nameSortBtn</button>
						<button id="id-sort-btn" class="sorting-btn" @onclick="IdSort">@idSortBtn</button>
					</div>
					<div class="search-container">
						<input @bind="_search"/>
						<button id="search-btn" @onclick="SearchUser">Search</button>
					</div>
				</div>
				<table>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Adress</th>
						<th>Company</th>

					</tr>
					@foreach (var user in _users)
					{
						<tr>
							<td>@user.Id</td>
							<td>@user.Name</td>
							<td>@user.Email</td>
							<td>@user.Address.Street<br /> @user.Address.City, @user.Address.Zipcode </td>
							<td>@user.Company.Name - <em>"@user.Company.Catchphrase"</em></td>
						</tr>
					}
				</table>
			}
		</div>	
	}
</div>